<h2>New Radio Station</h2>

<%= render "form.html", changeset: @changeset,
                        action: radio_station_path(@conn, :create) %>

<%= link "Back", to: radio_station_path(@conn, :index) %>